/* General body styling for centering and background */
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: 'Inter', sans-serif;
    color: #ccc;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
}

/* 7-Segment Display Container */
.seven-segment-display {
    position: relative;
    width: 150px;
    height: 270px;
    margin: 0 auto;
    border-radius: 10px;
    color: #000;
}

/* Base styles for all segments */
.segment {
    position: absolute;
    background-color: #333;
    /* Color when 'off' */
    opacity: 0.1;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    display: grid;
    place-items: center;
}

/* Vertical Segments (b, c, e, f) */
.segment.vertical {
    width: 30px;
    height: 100px;
}

/* Horizontal Segments (a, d, g) */
.segment.horizontal {
    width: 100px;
    height: 30px;
}

/* Segment Positioning */
/* Segment A (top horizontal) */
.segment-a {
    top: 0;
    left: 25px;
}

/* Segment B (top right vertical) */
.segment-b {
    top: 25px;
    right: 0;
}

/* Segment C (bottom right vertical) */
.segment-c {
    bottom: 25px;
    right: 0;
}

/* Segment D (bottom horizontal) */
.segment-d {
    bottom: 0;
    left: 25px;
}

/* Segment E (bottom left vertical) */
.segment-e {
    bottom: 25px;
    left: 0;
}

/* Segment F (top left vertical) */
.segment-f {
    top: 25px;
    left: 0;
}

/* Segment G (middle horizontal) */
.segment-g {
    top: 120px;
    left: 25px;
}

.digit-8 .segment {
    background-color: rgb(255, 0, 247);
}

.segment_controls {
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    top: 350px;
    width: 34px;
    height: 60px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7921f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7921f3;
}

input:checked+.slider:before {
    transform: translateY(26px);
}

html {
    --t1-bool: initial;
    --t2-bool: initial;
    --t3-bool: initial;
    --t4-bool: initial;
}

body:has(#toggle-segment-1:checked) {
    --t1-bool: ;
}

body:has(#toggle-segment-2:checked) {
    --t2-bool: ;
}

body:has(#toggle-segment-3:checked) {
    --t3-bool: ;
}

body:has(#toggle-segment-4:checked) {
    --t4-bool: ;
}

/* 
      0  0000
      1  0001
      2  0010
      3  0011
      4  0100
      5  0101
      6  0110
      7  0111
      8  1000
      9  1001 
        */
/* 1,4 */
/* 0001, 0100 */
.segment-a {
    --checked-a1-off: var(--t4-bool) 0;
    --checked-a2-off: var(--t2-bool) 0;
    --checked-a1-on: var(--t2-bool) var(--t4-bool) 1;
    --checked-a2-on: var(--t2-bool) var(--t3-bool) 1;
    --checked-a3-on: var(--t2-bool) var(--t1-bool) 1;
    --checked-a4-on: var(--t4-bool) var(--t1-bool) 1;
    --checked-a5-on: var(--t4-bool) var(--t3-bool) 1;
    opacity:
        var(--checked-a1-on,
            var(--checked-a2-on,
                var(--checked-a3-on,
                    var(--checked-a4-on,
                        var(--checked-a5-on,
                            var(--checked-a1-off,
                                var(--checked-a2-off)))))));
}

/* 5, 6 */
/* 0101, 0110 */
.segment-b {
    --checked-b1-off: var(--t2-bool) var(--t4-bool) 0;
    --checked-b2-off: var(--t2-bool) var(--t3-bool) 0;
    --checked-b1-on: var(--t2-bool) var(--t4-bool) var(--t1-bool) 1;
    --checked-b2-on: var(--t2-bool) var(--t4-bool) var(--t3-bool) 1;
    --checked-b3-on: var(--t2-bool) var(--t1-bool) var(--t3-bool) 1;
    opacity:
        var(--checked-b1-on,
            var(--checked-b2-on,
                var(--checked-b3-on,
                    var(--checked-b1-off,
                        var(--checked-b2-off)))));
}

/* 2 */
/* 0010 */
.segment-c {
    --checked-c1-off: var(--t3-bool) 0;
    --checked-c1-on: var(--t3-bool) var(--t1-bool) 1;
    --checked-c2-on: var(--t3-bool) var(--t2-bool) 1;
    --checked-c3-on: var(--t3-bool) var(--t4-bool) 1;
    opacity:
        var(--checked-c1-on,
            var(--checked-c2-on,
                var(--checked-c3-on,
                    var(--checked-c1-off))));
}

/* 1,4,7 */
/* 0001, 0100, 0111 */
.segment-d {
    --checked-d1-off: var(--t4-bool) 0;
    --checked-d2-off: var(--t2-bool) 0;
    --checked-d3-off: var(--t2-bool) var(--t3-bool) var(--t4-bool) 0;
    --checked-d1-on: var(--t4-bool) var(--t1-bool) 1;
    --checked-d2-on: var(--t4-bool) var(--t2-bool) 1;
    --checked-d3-on: var(--t4-bool) var(--t3-bool) 1;
    --checked-d4-on: var(--t2-bool) var(--t1-bool) 1;
    --checked-d5-on: var(--t2-bool) var(--t3-bool) 1;
    --checked-d6-on: var(--t2-bool) var(--t3-bool) var(--t4-bool) var(--t1-bool) 1;
    opacity:
        var(--checked-d6-on,
            var(--checked-d3-off,
                var(--checked-d1-on,
                    var(--checked-d2-on,
                        var(--checked-d3-on,
                            var(--checked-d4-on,
                                var(--checked-d5-on,
                                    var(--checked-d1-off,
                                        var(--checked-d2-off)))))))));
}

/* 1,3,4,5,7,9 */
/* 0001, 0011, 0100, 0101, 0111, 1001 */
.segment-e {
    --checked-e1-off: var(--t4-bool) 0;
    --checked-e2-off: var(--t4-bool) var(--t3-bool) 0;
    --checked-e3-off: var(--t2-bool) 0;
    --checked-e4-off: var(--t2-bool) var(--t4-bool) 0;
    --checked-e5-off: var(--t1-bool) var(--t4-bool) 0;
    --checked-e6-off: var(--t2-bool) var(--t3-bool) var(--t4-bool) 0;
    --checked-e1-on: var(--t2-bool) var(--t1-bool) 1;
    --checked-e2-on: var(--t2-bool) var(--t3-bool) 1;
    --checked-e3-on: var(--t2-bool) var(--t3-bool) var(--t4-bool) var(--t1-bool) 1;
    opacity:
        var(--checked-e3-on,
            var(--checked-e6-off,
                var(--checked-e1-on,
                    var(--checked-e2-on,
                        var(--checked-e1-off,
                            var(--checked-e2-off,
                                var(--checked-e3-off,
                                    var(--checked-e4-off,
                                        var(--checked-e5-off,
                                            var(--checked-e6-off))))))))));
}

/* 1,2,3,7 */
/* 0001, 0010, 0011, 0111 */
.segment-f {
    --checked-f1-off: var(--t4-bool) 0;
    --checked-f2-off: var(--t4-bool) var(--t3-bool) 0;
    --checked-f3-off: var(--t3-bool) 0;
    --checked-f4-off: var(--t2-bool) var(--t3-bool) var(--t4-bool) 0;
    --checked-f1-on: var(--t2-bool) var(--t1-bool) 1;
    --checked-f5-on: var(--t2-bool) var(--t4-bool) 1;
    --checked-f2-on: var(--t2-bool) var(--t3-bool) 1;
    --checked-f3-on: var(--t1-bool) var(--t3-bool) 1;
    --checked-f6-on: var(--t1-bool) var(--t4-bool) 1;
    --checked-f4-on: var(--t2-bool) var(--t3-bool) var(--t4-bool) var(--t1-bool) 1;
    opacity:
        var(--checked-f3-on,
            var(--checked-f4-off,
                var(--checked-f1-on,
                    var(--checked-f2-on,
                        var(--checked-f4-on,
                            var(--checked-f5-on,
                                var(--checked-f6-on,
                                    var(--checked-f1-off,
                                        var(--checked-f2-off,
                                            var(--checked-f3-off))))))))));
}

/* 0,1,7 */
/* 0000, 0001, 0111 */
.segment-g {
    --checked-g1-off: 0;
    --checked-g3-off: var(--t4-bool) 0;
    --checked-g4-off: var(--t2-bool) var(--t3-bool) var(--t4-bool) 0;
    --checked-g1-on: var(--t2-bool) 1;
    --checked-g2-on: var(--t3-bool) 1;
    --checked-g3-on: var(--t1-bool) 1;
    --checked-g4-on: var(--t4-bool) var(--t1-bool) 1;
    --checked-g5-on: var(--t4-bool) var(--t2-bool) 1;
    --checked-g6-on: var(--t4-bool) var(--t3-bool) 1;
    --checked-g7-on: var(--t2-bool) var(--t3-bool) var(--t4-bool) var(--t1-bool) 1;
    opacity:
        var(--checked-g4-off,
            var(--checked-g1-on,
                var(--checked-g2-on,
                    var(--checked-g3-on,
                        var(--checked-g1-on,
                            var(--checked-g2-on,
                                var(--checked-g4-on,
                                    var(--checked-g1-off,
                                        var(--checked-g2-off,
                                            var(--checked-g3-off))))))))));
}