/* General body styling for centering and background */
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #383737;
    font-family: 'Inter', sans-serif;
    color: #ccc;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff;
}

/* Base styles for all segments */
.segment {
    position: absolute;
    background-color: #bb21f3;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    display: grid;
    place-items: center;
}

/* Vertical Segments (b, c, e, f) */
.segment.vertical {
    width: 30px;
    height: 100px;
}

/* Horizontal Segments (a, d, g) */
.segment.horizontal {
    width: 100px;
    height: 30px;
}

.segment_controls {
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    top: 350px;
    width: 34px;
    height: 60px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7921f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7921f3;
}

input:checked+.slider:before {
    transform: translateY(26px);
}

html {
    --t1: 0;
    --_t1: 1;
    --t2: 0;
    --_t2: 1;
    --t3: 0;
    --_t3: 1;
    --t4: 0;
    --_t4: 1;
}

body:has(#toggle-1:checked) {
    --t1: 1;
    --_t1: 0;
}

body:has(#toggle-2:checked) {
    --t2: 1;
    --_t2: 0;
}

body:has(#toggle-3:checked) {
    --t3: 1;
    --_t3: 0;
}

body:has(#toggle-4:checked) {
    --t4: 1;
    --_t4: 0;
}

/* 
      0  0000
      1  0001
      2  0010
      3  0011
      4  0100
      5  0101
      6  0110
      7  0111
      8  1000
      9  1001 
    */
.seven-segment-display {
    --n0: calc(var(--_t1) * var(--_t2) * var(--_t3) * var(--_t4));
    --n1: calc(var(--_t1) * var(--_t2) * var(--_t3) * var(--t4));
    --n2: calc(var(--_t1) * var(--_t2) * var(--t3) * var(--_t4));
    --n3: calc(var(--_t1) * var(--_t2) * var(--t3) * var(--t4));
    --n4: calc(var(--_t1) * var(--t2) * var(--_t3) * var(--_t4));
    --n5: calc(var(--_t1) * var(--t2) * var(--_t3) * var(--t4));
    --n6: calc(var(--_t1) * var(--t2) * var(--t3) * var(--_t4));
    --n7: calc(var(--_t1) * var(--t2) * var(--t3) * var(--t4));
    --n8: calc(var(--t1) * var(--_t2) * var(--_t3) * var(--_t4));
    --n9: calc(var(--t1) * var(--_t2) * var(--_t3) * var(--t4));

    --digit: calc(var(--n0) + var(--n1) + var(--n2) + var(--n3) + var(--n4) + var(--n5) + var(--n6) + var(--n7) + var(--n8) + var(--n9));

    --a: calc(var(--digit) - var(--n1) - var(--n4));
    --b: calc(var(--digit) - var(--n5) - var(--n6));
    --c: calc(var(--digit) - var(--n2));
    --d: calc(var(--digit) - var(--n1) - var(--n4) - var(--n7));
    --e: calc(var(--digit) - var(--n1) - var(--n3) - var(--n4) - var(--n5) - var(--n7) - var(--n9));
    --f: calc(var(--digit) - var(--n1) - var(--n2) - var(--n3) - var(--n7));
    --g: calc(var(--digit) - var(--n0) - var(--n1) - var(--n7));

    position: relative;
    width: 150px;
    height: 270px;
    margin: 0 auto;
    border-radius: 10px;
    color: #000;
}

.a {
    opacity: var(--a);
    top: 0;
    left: 25px;
}

.b {
    opacity: var(--b);
    top: 25px;
    right: 0;
}

.c {
    opacity: var(--c);
    bottom: 25px;
    right: 0px;
}

.d {
    opacity: var(--d);
    bottom: 0;
    left: 25px;
}

.e {
    opacity: var(--e);
    bottom: 25px;
    left: 0;
}

.f {
    opacity: var(--f);
    top: 25px;
    left: 0;
}

.g {
    opacity: var(--g);
    top: 120px;
    left: 25px;
}
